<h3 class="ui header">{{t "forms.i-i-s-domashki-журнал-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.курс
      class=(if (v-get validationModel "курс" "isInvalid") "error")
      label=(t "forms.i-i-s-domashki-журнал-e.курс-caption")
      data-test-i-i-s-domashki-журнал-e-курс=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "курс" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.итог
      class=(if (v-get validationModel "итог" "isInvalid") "error")
      label=(t "forms.i-i-s-domashki-журнал-e.итог-caption")
      data-test-i-i-s-domashki-журнал-e-итог=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "итог" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-domashki-журнал-e.дисциплина-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.дисциплина
      displayAttributeName="название"
      autocomplete=true
      relationName="дисциплина"
      projection="ДисциплинаL"
      title=(t "forms.i-i-s-domashki-журнал-e.дисциплина-caption")
      readonly=readonly
      componentName="дисциплинаLookup"
      class=(if (v-get validationModel "дисциплина" "isInvalid") "error")
      data-test-i-i-s-domashki-журнал-e-дисциплина=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дисциплина" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-domashki-журнал-e.домашка-caption"}}</label>
    {{flexberry-groupedit
      componentName="домашкаGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.домашка
      content=model.домашка
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "домашка" "isInvalid") "error")
      data-test-i-i-s-domashki-журнал-e-домашка=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "домашка" "message")}}
  </div>
</form>
